@media only screen and (max-width: 1000px) {
 .hero-doctor img{
   width: 100% !important;
   display: none;
 }
}

.my-modal{
  width: 100%;
  height: 90vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(from right , red , black );
  
}
.btn-close{
  position: absolute
}